.nav-bar {
    background-color: black;
    color:white;
    padding:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sticky {
    position:fixed;
    top:0;
    width:100%;
    z-index:8;
}

.nav-buttons {
    display: flex;
    flex-direction:row;
    gap:20px;
    list-style: none;
    text-align:center;
    margin-right:20px;

}

.nav-link {
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

.nav-link:hover {
    color:black;
    background:white;
}

.nav-link > a:hover {
    color:black;
    background:white;
    cursor: pointer;
}

.nav-link > a {
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    color:white;
    cursor:pointer;
}

