.shop-container {
    min-height:100vh;
    background-image: url('../images/shop-background.jpg');
    background-size: cover;
    padding:20px 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.content {
    background-color: white;
    min-height:100vh;
    padding:20px;
    margin-top:120px;
}

.header {
    margin:20px 30px;
    padding: 10px 30px;
    border:2px solid black;
}
.header > h3 {
    font-size:28px;
    margin:0;
}

.header > p {
    margin:0;
}

#shop-title {
    text-align: center;
}

.items-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    gap:10px;

}

@media screen and (max-width:750px) {
    .shop-container {
        padding: 20px 30px;
    }

    .header {
        margin:20px 20px;
    }
}
